/*Page Styles*/

body {
  margin: auto;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  font-size: 14px;
}

.left-content,
.right-content {
  font-family: 'Open Sans', sans-serif;
  float: right;
}


/*Pop Up*/

.popup-overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: .4;
  top: 0;
  left: 0;
  z-index: 1000;
}

.popup {
  position: fixed;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  background-color: #f0f0f0;
  z-index: 2000;
}

.popup-close {
  float: right;
  padding: 10px;
  cursor: pointer;
}

.popup-content {
  padding: 30px;
  width: 60%;
  margin: auto;
}

/*Left Content*/

.left-content {
  background-image: url(bg.png);
  background-repeat: no-repeat;
  margin: 0;
  color: white;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 580px;
  background-size: cover;
  position: fixed;
  overflow: hidden;
  min-width: 800px;
}

.header-buttons,
.logo {
  margin-top: 50px;
}

.header-buttons {
  float: right;
  margin-right: 50px;
}

.header-buttons li {
  display: inline-block;
}

.logo {
  float: left;
}

.slogan1,
.slogan2,
.logo,
.buttons {
  margin-left: 50px;
}

.slogan1 {
  height: 30px;
  margin-top: 50%;
}

.slogan2 {
  font-weight: normal;
  height: 10px;
}

.left-content a {
  color: white;
  margin-right: 50px;
}

.slogan {
  top: 50%;
  transform: translateY(-110%);
  position: absolute;
  pointer-events: none;
}

.buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.upload,
.search {
  display: inline-block;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: white;
}

.upload {
  background-color: #ecb522;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
}

.upload:hover {
  background-color: #F57C00;
}

.search {
  background-color: rgba(0, 0, 0, 0.5);
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
}

.search:hover {
  background-color: #337ab7;
}

.footer {
  position: absolute;
  list-style-type: none;
  padding-left: 50px;
  bottom: 20px;
}

.footer li {
  display: inline-block;
  margin-right: -20px;
}


/*Right Content*/

.right-content {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 559px;
  margin-left: auto;
  margin-top: 20px;
}

.row-detail {
  clear: both;
}

.item {
  display: inline-block;
  text-align: center;
  background-color: white;
  margin: 10px;
  color: black;
}

.name {
  font-weight: bold;
  font-size: 13px;
  margin: 0 0 0 5px;
  text-align: left;
}

.job {
  font-size: 11px;
  margin: 5px 0 5px 5px;
  text-align: left;
}

.section-title {
  float: left;
  font-size: 21px;
  font-weight: bold;
  color: #585858
}

.see-all {
  line-height: 30px;
  color: #8a8a8a;
  margin-top: 20px;
  right: 18px;
  clear: right;
  float: right;
}

.see-all span {
  font-size: 12px;
  text-decoration: underline;
}


/*Media Queries Width*/

@media all and (min-width: 1381px)
{
  .right-content {
    min-width: 0;
    width: 560px;
  }
}

@media all and (min-width: 1100px) and (max-width: 1380px) {
  .left-content {
    right: 320px;
  }
  .right-content {
    width: 300px;
    min-width: 0px;
  }
}

@media all and (max-width: 1110px) {
  .right-content {
    display: none;
  }
  .left-content {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
}


/*Media Queries Height*/

@media all and (max-height: 400px) {
  .slogan {
    top: 60%;
  }
  .buttons {
    top: 60%;
  }
  .left-content {
    min-height: 400px;
  }
}
